/* Estilos base para soporte de layout */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* El procesamiento de estilos se realiza mediante el CDN de Tailwind en index.html */